.env
notebooks/**/cache
data/**/cache/*
data/**/*.parquet
data/rasters/*
cache/*
outputs/geoparquet/*
outputs/figures/review
outputs/figures/*.svg
outputs/geoai_*/*
# still WIP and way too large
outputs/maps/pr_urban_all_geographies_preview.html
outputs/models/*
**/overture_bounding_boxes/

**/*.cpython-*
**/*.duckdb
# outputs/**/*.png